{% extends "plok/base.html" %}
{% load i18n %}

{% block content %}

<div class="row">
  <div class="col-md-2"> &nbsp;</div>
  <div class="col-md-8">

<h1> {{ article.title }} </h1>

{% if description %}
<p> <b> {{ description }} </b></p>
{% endif %}

<p> {{ content|safe }} </p>

{% if can_edit %}
<div>
    <a class="btn btn-primary" href="{% url 'plok:article_update' article.blog.name article.name %}">{% trans 'Edit' %}</a>
    <a class="btn btn-danger" href="{% url 'plok:article_delete' article.blog.name article.name %}">{% trans 'Delete' %}</a>
</div>
{% endif %}

<div>
    <small>
    {% trans 'Created by' %} {{ article.created_by.username }}
    {% trans 'on' %} {{ article.created|date:"Y-m-d H:m" }}
    </small>
</div>

<h3> {% trans 'Comments' %}: {{ article.comments.count }}</h3>

{% for comment  in article.comments %}
  <div class="comment"> {{ comment.text }} </div>
  <div>
    <small>
      {{ comment.created_by.username }} - {{ comment.created|date:"Y-m-d H:m" }}
  {% if comment.created_by == user %}
      <a href="{{ comment.edit_url }}">{% trans 'Edit' %}</a>
  {% endif %}
    </small>
  </div>
{% endfor %}

<div>
  {% if user.is_authenticated %}
    <a class="btn btn-primary" href="{% url 'plok:comment_create' article.blog.name article.name %}">
      {% trans 'Add comment' %}
    </a>
  {% else %}
    <a href="{% url 'account_login' %}">
      {% trans 'Log in' %}
    </a>
    {% trans 'to comment' %}
  {% endif %}
</div>

  </div>
  <div class="col-md-2"> &nbsp;</div>
</div>
{% endblock %}
