{% extends "plok/base.html" %}
{% load i18n %}

{% block content %}

<h1> {% trans 'Are you sure you want to delete article' %}: {{ article.title }}? </h1>


<table class="table">
    <tr>
        <td>
    <form action="{% url 'plok:article_delete' blog.name article.name %}" method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" value="{% trans 'Delete' %}" />
    </form>
    </td>
        <td>
    <form action="{% url 'plok:article' blog.name article.name %}" method="get">
        {% csrf_token %}
        <input type="submit" class="btn btn-primary" value="{% trans 'Cancel' %}" />
    </form>
        </td>
    </tr>
</table>


{% endblock %}
