{% extends "plok/base.html" %}
{% load i18n %}
{% block head_title %} {% trans 'Users' %} {% endblock %}

{% block content %}
<h1> {% trans 'Users' %} </h1>
<table class="table">
  <thead>
    <tr>
      <th> {% trans 'Username' %} </th>
      <th colspan="2"> {% trans 'Name' %} </th>
      <th> {% trans 'Email' %} </th>
    </tr>
  </thead>
  <tbody>
{% for user in user_list %}
    <tr>
      <td> <a href="{% url 'user_detail' user.username %}"> {{ user.username }} </a> </td>
      <td> {{ user.last_name }} </td>
      <td> {{ user.first_name }} </td>
      <td> {{ user.email }} </td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
